[Desktop Entry]
Name=Melodpy
Encoding=UTF-8
Exec=sh -c "Melodpy;${SHELL:-bash}"
Icon=Melodpy.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-Password-Attacks;
X-Kali-Package=Melodpy
Name[C]=Melodpy